body {
    background-color: #FDFDFD;
    font: 10pt sans;
}

table.zebra-table tr:nth-child(even) {background-color: #E0E0FF;}
table th {background: #e0e0e0;}

.table-line-bg {background-color: #E0E0FF;}

.right{
    position:relative;
    margin:0;
    padding:0;
    float:right;
}
.left{
    position:relative;
    margin:0;
    padding:0;
    float:left;
}

td { padding: 6px; }

.table_lr th {text-align: center;}
.table_lr td {text-align: right;}
.table_lr tr td:first-child {text-align: left;}

.table_c td {text-align: center;}
.table_c th {text-align: center;}

.table_cr th {text-align: center;}
.table_cr td {text-align: right;}
.table_cr tr td:first-child {text-align: center;}

.table_lc th {text-align: center;}
.table_lc td {text-align: center;}
.table_lc tr td:first-child {text-align: left;}



.menu-ceph {
    width: 15%;
    margin-left: 0;
    float: left;
    text-align: left;
    top: 0;
    position:fixed;
    font-size: 20px;
    color: #c2c7c8;
    height: 100%;
    background-color: #222;
}

.menu-ceph ul {
    padding: 35px 40px;
}

.menu-ceph li {
    padding: 5px 10px;
}

.menu-ceph a:hover {
    cursor: pointer;
    color: #f1f100;
    background-color: #666;
}

.main-ceph {
    position: absolute;
    top: 3%;
    margin-left: 20%;
    margin-right: 5%;
    width: 75%;
    text-align: center;
}

.data-ceph {
    visibility: hidden;
    position: absolute;
    top: 3%;
}

#table-summary {width: 40%;}
#table-osd-summary {width: 40%;}
#table-io-summary {width: 40%;}
#table-mon-info {width: 60%;}
#table-hosts-info {width: 60%;}
#table-hosts-pg-info-long {width: 60%;}
#table-hosts-pg-info {width: 45%;}
#table-osds-state {width: 80%;}
#table-pools {width: 100%;}
#table-pgs {width: 30%;}
#table-pg-per-osd {width: 100%;}
#table-osd-info {width: 100%;}
#table-osd-load {width: 100%;}
#table-issues {width: 80%;}
#table-rules {width: 100%;}
#table-settings {width: 60%;}
#table-pools-io {width: 60%;}

a.link {
    color: #0000EE;
    border-bottom: 1px solid black;
    padding-bottom: 0;
}

a.link:visited {color: #551A8B;}
a.link:hover {cursor: pointer; color: #a1a1ff;}

.hostinfo-net {width: 80%;}
.hostinfo-disks {width: 80%;}
.io_load_in_color {width: 100%;}
.hostinfo-mountable {width: 80%;}
.hostinfo-mountable tr td:first-child {text-align: left;}

.disk-children-0 {}
.disk-children-1 {padding-left: 10%;}
.disk-children-2 {padding-left: 20%;}
.disk-children-3 {padding-left: 30%;}

